Repository slg407/robumba: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, python

.codecov.yml:

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

coverage:
  precision: 2
  round: down
  range: "70..100"
  status:
    patch:
      default:
        target: 70%

flags:
  unittests:
    paths:
      - "app/"
      - "core/"
    carryforward: true
  python:
    paths:
      - "python/"
    carryforward: true

ignore:
  - "external/**"
  - "python/test_*.py"

fix: remove mapStyleLoaded guard from style reload LaunchedEffect
  app/src/main/java/com/lxmf/messenger/ui/screens/MapScreen.kt
Due: unittests

feat: migrate offline maps to MapLibre native OfflineManager API
  app/src/main/java/com/lxmf/messenger/map/MapLibreOfflineManager.kt
  app/src/main/java/com/lxmf/messenger/map/MapTileSourceManager.kt
  app/src/main/java/com/lxmf/messenger/map/OfflineMapStyleBuilder.kt
  app/src/main/java/com/lxmf/messenger/map/TileDownloadManager.kt
  app/src/main/java/com/lxmf/messenger/service/manager/EventHandler.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MapScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/offlinemaps/OfflineMapDownloadScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/offlinemaps/OfflineMapsScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/OfflineMapDownloadViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/OfflineMapsViewModel.kt
  app/src/test/java/com/lxmf/messenger/map/TileDownloadManagerTest.kt
  app/src/test/java/com/lxmf/messenger/ui/screens/offlinemaps/OfflineMapDownloadScreenTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/OfflineMapDownloadViewModelTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/OfflineMapsViewModelTest.kt
  data/src/main/java/com/lxmf/messenger/data/db/ColumbaDatabase.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/OfflineMapRegionDao.kt
  data/src/main/java/com/lxmf/messenger/data/db/entity/OfflineMapRegionEntity.kt
  data/src/main/java/com/lxmf/messenger/data/di/DatabaseModule.kt
  data/src/main/java/com/lxmf/messenger/data/repository/OfflineMapRegionRepository.kt
Due: unittests

Fix race condition in path_table and announce_table access
  python/reticulum_wrapper.py
Due: python

Fix race condition in path_table access using .get()
  python/reticulum_wrapper.py
Due: python

Add unit tests for hop count validation
  python/test_wrapper_messaging.py
Due: none

Remove test for unreachable negative hop count UI path
  app/src/test/java/com/lxmf/messenger/ui/screens/MessageDetailScreenTest.kt
Due: unittests

Use separate catch blocks to satisfy detekt lint
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
Due: unittests

fix(data): use contains() for interface type detection
  data/src/main/java/com/lxmf/messenger/data/model/InterfaceType.kt
Due: none

Fix image field extraction for LXMF array format
  app/src/main/java/com/lxmf/messenger/service/manager/EventHandler.kt
  app/src/main/java/com/lxmf/messenger/ui/model/MessageMapper.kt
Due: unittests

Add relay selection button when no relay is configured
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/MessageDeliveryRetrievalCard.kt
Due: unittests

Fix UI state desync for auto-select relay setting
  app/src/main/java/com/lxmf/messenger/viewmodel/SettingsViewModel.kt
Due: unittests

Fix MessagingViewModel tests after rebase
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelTest.kt
Due: unittests

fix: emit 'propagated' status for PROPAGATED method messages
  python/reticulum_wrapper.py
Due: python

Suppress UnusedPrivateProperty warnings in ViewModel tests
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelTest.kt
Due: unittests

fix: move clickable modifier to icon+title row to avoid intercepting header action clicks
  app/src/main/java/com/lxmf/messenger/ui/components/CollapsibleSettingsCard.kt
Due: unittests

feat: add LXST voice call support
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/notifications/CallActionReceiver.kt
  app/src/main/java/com/lxmf/messenger/notifications/CallNotificationHelper.kt
  app/src/main/java/com/lxmf/messenger/service/coordinator/AudioCoordinator.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/IncomingCallScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/VoiceCallScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/CallViewModel.kt
  python/lxst_modules/__init__.py
  python/lxst_modules/call_manager.py
  python/lxst_modules/chaquopy_audio_backend.py
  python/reticulum_wrapper.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/audio/bridge/KotlinAudioBridge.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/call/bridge/CallBridge.kt
Due: unittests, python

refactor: improve CallActionReceiverTest to use Robolectric properly
  app/src/test/java/com/lxmf/messenger/notifications/CallActionReceiverTest.kt
Due: unittests

feat: implement LXST voice calls with multi-process IPC
  app/src/main/AndroidManifest.xml
  app/src/main/aidl/com/lxmf/messenger/IReticulumService.aidl
  app/src/main/aidl/com/lxmf/messenger/IReticulumServiceCallback.aidl
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/notifications/CallNotificationHelper.kt
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  app/src/main/java/com/lxmf/messenger/service/manager/CallbackBroadcaster.kt
  app/src/main/java/com/lxmf/messenger/service/manager/PythonWrapperManager.kt
  app/src/main/java/com/lxmf/messenger/ui/components/CodecSelectionDialog.kt
  app/src/main/java/com/lxmf/messenger/ui/model/CodecProfile.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/IncomingCallScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/VoiceCallScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/CallViewModel.kt
  python/lxst_modules/call_manager.py
  python/lxst_modules/chaquopy_audio_backend.py
  python/requirements.txt
  python/reticulum_wrapper.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/audio/bridge/KotlinAudioBridge.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/call/bridge/CallBridge.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/MockReticulumProtocol.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
  reticulum/src/test/java/com/lxmf/messenger/reticulum/audio/bridge/KotlinAudioBridgeTest.kt
Due: unittests, python

test: fix unit tests for updated constructor signatures
  app/src/test/java/com/lxmf/messenger/service/binder/ReticulumServiceBinderBleWiringTest.kt
  app/src/test/java/com/lxmf/messenger/service/binder/ReticulumServiceBinderTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/CallViewModelTest.kt
Due: unittests

test: fix test compilation and temporarily disable CallNotificationHelperTest
  app/src/test/java/com/lxmf/messenger/notifications/CallNotificationHelperTest.kt
Due: unittests

fix: stack Recommended chip vertically in codec dialog
  app/src/main/java/com/lxmf/messenger/ui/components/CodecSelectionDialog.kt
Due: unittests

ci: add numpy to Python test dependencies
  .github/workflows/ci.yml
Due: none

fix: unmute system mic and use modern audio routing API for voice calls
  reticulum/src/main/java/com/lxmf/messenger/reticulum/audio/bridge/KotlinAudioBridge.kt
Due: none

test: add UI tests for TCP Server interface components
  app/src/main/java/com/lxmf/messenger/ui/screens/InterfaceManagementScreen.kt
  app/src/test/java/com/lxmf/messenger/ui/components/InterfaceConfigDialogTest.kt
  app/src/test/java/com/lxmf/messenger/ui/screens/InterfaceManagementScreenTest.kt
Due: unittests

feat(ble): add duplicate identity detection callback for Android
  docs/ble-architecture.md
  python/ble_modules/android_ble_driver.py
  python/test_android_ble_driver.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/ble/bridge/KotlinBLEBridge.kt
  reticulum/src/test/java/com/lxmf/messenger/reticulum/ble/bridge/KotlinBLEBridgeDuplicateIdentityCallbackTest.kt
Due: python

docs(ble): clarify deduplication location is Kotlin layer
  docs/ble-architecture.md
Due: none

docs(ble): add validation and filtering steps to receive diagram
  docs/ble-architecture.md
Due: none

docs(ble): remove resolved issue #3 (identity cache coherence)
  docs/ble-architecture.md
Due: none

fix: resolve multiple notification issues
  app/src/main/java/com/lxmf/messenger/notifications/NotificationHelper.kt
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/service/MessageCollector.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MigrationScreen.kt
Due: unittests

test: add coverage for ensure_bytes and duplicate identity detection
  python/test_android_ble_driver.py
Due: none

fix: prevent BLE operation queue deadlock on timeout
  reticulum/src/main/java/com/lxmf/messenger/reticulum/ble/server/BleGattServer.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/ble/util/BleOperationQueue.kt
Due: none

test: add tests for stale identity-to-address rejection bug fix
  python/test_ble_duplicate_identity_stale.py
Due: none

fix: convert Chaquopy jarray to Python bytes in BLE callbacks
  python/ble_modules/android_ble_driver.py
Due: python

docs(ble): move advertising refresh to Future Enhancements
  docs/ble-architecture.md
Due: none

docs(ble): clarify MAC rotation flowchart decision points
  docs/ble-architecture.md
Due: none

docs(ble): reorganize deduplication state diagram for clarity
  docs/ble-architecture.md
Due: none

docs: add Identity Timeout Handling section to BLE architecture
  docs/ble-architecture.md
Due: none

refactor: simplify peripheral identity detection - Python handles it (like Linux)
  docs/ble-architecture.md
  reticulum/src/main/java/com/lxmf/messenger/reticulum/ble/server/BleGattServer.kt
Due: none

docs: improve BLE architecture diagram layout
  docs/ble-architecture.md
Due: none
