Repository slg407/robumba: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, python

.codecov.yml:

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

coverage:
  precision: 2
  round: down
  range: "70..100"
  status:
    patch:
      default:
        target: 70%

flags:
  unittests:
    paths:
      - "app/"
      - "core/"
    carryforward: true
  python:
    paths:
      - "python/"
    carryforward: true

ignore:
  - "external/**"
  - "python/test_*.py"

fix: properly scope LXMF mock and update tests for new fallback behavior
  python/test_wrapper_messaging.py
  python/test_wrapper_propagation.py
Due: none

fix: update icon fields for existing identities during import
  app/src/main/java/com/lxmf/messenger/migration/MigrationImporter.kt
  app/src/test/java/com/lxmf/messenger/migration/MigrationImporterIconTest.kt
Due: unittests

test: add comprehensive tests for image compression UI and ViewModel
  app/src/test/java/com/lxmf/messenger/ui/components/ImageCompressionWarningDialogTest.kt
  app/src/test/java/com/lxmf/messenger/ui/screens/settings/cards/ImageCompressionCardTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/SettingsViewModelTest.kt
Due: unittests

fix: manual link establishment now works correctly
  python/reticulum_wrapper.py
Due: python

fix: handle large images by writing to temp file for Binder IPC
  app/src/main/aidl/com/lxmf/messenger/IReticulumService.aidl
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  app/src/main/java/com/lxmf/messenger/util/ImageUtils.kt
  python/reticulum_wrapper.py
Due: unittests, python

feat: wire up image quality selection in MessagingScreen
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
Due: unittests

fix: prevent Recommended badge text from wrapping
  app/src/main/java/com/lxmf/messenger/ui/components/ImageQualitySelectionDialog.kt
Due: unittests

fix: check backchannel_links for bidirectional link status
  python/reticulum_wrapper.py
Due: python

fix: recycle original bitmap after scaling to prevent memory leak
  app/src/main/java/com/lxmf/messenger/util/ImageUtils.kt
Due: unittests

fix: update test for 25MB ORIGINAL preset
  app/src/test/java/com/lxmf/messenger/ui/screens/settings/cards/ImageCompressionCardTest.kt
Due: unittests

revert: don't close link when switching conversations
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
Due: unittests

fix: clean up stale links and prevent race in direct_links cleanup
  python/reticulum_wrapper.py
Due: python

fix: wait for in-progress probe instead of silently returning null
  app/src/main/java/com/lxmf/messenger/service/LinkSpeedProbe.kt
Due: unittests

fix: always check created hash for existing links and clean up stale
  python/reticulum_wrapper.py
Due: python

fix: only reset inactivity timer for new link establishments
  app/src/main/java/com/lxmf/messenger/service/ConversationLinkManager.kt
Due: unittests

test: add unit tests for reticulum_wrapper coverage
  python/test_wrapper_link.py
  python/test_wrapper_messaging.py
Due: none

fix: prevent duplicate link establishment and fix incoming link timer
  app/src/main/java/com/lxmf/messenger/service/ConversationLinkManager.kt
Due: unittests

feat: Add minute-precision randomization to auto-announce
  app/src/main/java/com/lxmf/messenger/repository/SettingsRepository.kt
  app/src/main/java/com/lxmf/messenger/service/AutoAnnounceManager.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/SettingsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/AutoAnnounceCard.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/SettingsViewModel.kt
  app/src/test/java/com/lxmf/messenger/service/AutoAnnounceManagerTest.kt
Due: unittests

Change PN sync interval presets from 5min/10min/30min/1h to 1h/3h/6h/12h
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/MessageDeliveryRetrievalCard.kt
  app/src/test/java/com/lxmf/messenger/test/MessageDeliveryRetrievalTestFixtures.kt
  app/src/test/java/com/lxmf/messenger/ui/screens/settings/cards/MessageDeliveryRetrievalCardTest.kt
Due: unittests

fix: improve export attachments UX and handle missing image attachments
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MigrationScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
  app/src/test/java/com/lxmf/messenger/ui/screens/MessageBubbleTest.kt
  app/src/test/java/com/lxmf/messenger/ui/screens/MigrationScreenTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelImageLoadingTest.kt
Due: unittests

Add multi-page onboarding wizard with connectivity setup
  app/src/main/java/com/lxmf/messenger/ColumbaApplication.kt
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/WelcomeScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/onboarding/OnboardingPagerScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/onboarding/OnboardingState.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/onboarding/pages/CompletePage.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/onboarding/pages/ConnectivityPage.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/onboarding/pages/IdentityPage.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/onboarding/pages/PermissionsPage.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/onboarding/pages/WelcomePage.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/DebugViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/OnboardingViewModel.kt
Due: unittests

Add comprehensive unit tests for OnboardingViewModel
  app/src/test/java/com/lxmf/messenger/viewmodel/OnboardingViewModelTest.kt
Due: unittests

Fix tests with multiple matching nodes
  app/src/test/java/com/lxmf/messenger/ui/screens/onboarding/pages/PermissionsPageTest.kt
Due: unittests

Temporarily hide RMSP toggle in settings
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/MapSourcesCard.kt
Due: unittests

feat: Add unit tests and fix linting for offline maps feature
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/di/ReticulumModule.kt
  app/src/main/java/com/lxmf/messenger/map/MBTilesWriter.kt
  app/src/main/java/com/lxmf/messenger/map/MapTileSourceManager.kt
  app/src/main/java/com/lxmf/messenger/map/OfflineMapStyleBuilder.kt
  app/src/main/java/com/lxmf/messenger/map/TileDownloadManager.kt
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  app/src/main/java/com/lxmf/messenger/service/manager/EventHandler.kt
  app/src/main/java/com/lxmf/messenger/service/manager/PythonWrapperManager.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/offlinemaps/OfflineMapDownloadScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/offlinemaps/OfflineMapsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/MapSourcesCard.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/OfflineMapDownloadViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/OfflineMapsViewModel.kt
  app/src/test/java/com/lxmf/messenger/di/ReticulumModuleTest.kt
  app/src/test/java/com/lxmf/messenger/map/MBTilesWriterTest.kt
  app/src/test/java/com/lxmf/messenger/map/MapTileSourceManagerTest.kt
  app/src/test/java/com/lxmf/messenger/map/OfflineMapStyleBuilderTest.kt
  app/src/test/java/com/lxmf/messenger/map/TileDownloadManagerTest.kt
  app/src/test/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocolCallbackTest.kt
  app/src/test/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocolRebindTest.kt
  app/src/test/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocolTest.kt
  data/src/main/java/com/lxmf/messenger/data/db/ColumbaDatabase.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/OfflineMapRegionDao.kt
  data/src/main/java/com/lxmf/messenger/data/db/entity/OfflineMapRegionEntity.kt
  data/src/main/java/com/lxmf/messenger/data/db/entity/RmspServerEntity.kt
  data/src/main/java/com/lxmf/messenger/data/di/DatabaseModule.kt
  data/src/main/java/com/lxmf/messenger/data/repository/OfflineMapRegionRepository.kt
  data/src/main/java/com/lxmf/messenger/data/repository/RmspServerRepository.kt
  data/src/test/java/com/lxmf/messenger/data/repository/RmspServerRepositoryTest.kt
Due: unittests

fix: resolve detekt and ktlint issues in test files
  app/src/test/java/com/lxmf/messenger/map/MBTilesWriterTest.kt
  app/src/test/java/com/lxmf/messenger/map/MapTileSourceManagerTest.kt
  app/src/test/java/com/lxmf/messenger/map/OfflineMapStyleBuilderTest.kt
  app/src/test/java/com/lxmf/messenger/map/TileDownloadManagerTest.kt
  app/src/test/java/com/lxmf/messenger/ui/screens/offlinemaps/OfflineMapDownloadScreenTest.kt
  app/src/test/java/com/lxmf/messenger/ui/screens/offlinemaps/OfflineMapsScreenTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/OfflineMapDownloadViewModelTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/OfflineMapsViewModelTest.kt
Due: unittests

fix: add missing mapTileSourceManager mock to SettingsViewModelIncomingMessageLimitTest
  app/src/test/java/com/lxmf/messenger/viewmodel/SettingsViewModelIncomingMessageLimitTest.kt
Due: unittests

fix: prevent garbled propagation node names (#233)
  app/src/main/java/com/lxmf/messenger/service/manager/EventHandler.kt
  app/src/test/java/com/lxmf/messenger/service/manager/EventHandlerTest.kt
  reticulum/src/test/java/com/lxmf/messenger/reticulum/util/AppDataParserTest.kt
Due: unittests

fix(security): validate RMSP tile size to prevent OOM attacks
  app/src/main/java/com/lxmf/messenger/map/TileDownloadManager.kt
Due: unittests

perf: use exponential backoff for RMSP path establishment
  python/rmsp_client.py
Due: python

fix: add @Volatile to MapTileSourceManager runtime overrides
  app/src/main/java/com/lxmf/messenger/map/MapTileSourceManager.kt
Due: unittests

fix: use safe null check for mbtilesPath in getMapStyle
  app/src/main/java/com/lxmf/messenger/map/MapTileSourceManager.kt
Due: unittests

fix: handle HTTP 204 No Content for missing map tiles
  app/src/main/java/com/lxmf/messenger/map/TileDownloadManager.kt
Due: unittests

fix: enable WAL mode in MBTilesWriter for crash recovery
  app/src/main/java/com/lxmf/messenger/map/MBTilesWriter.kt
Due: unittests

fix: address code review feedback
  app/src/main/java/com/lxmf/messenger/map/MBTilesWriter.kt
  app/src/main/java/com/lxmf/messenger/map/TileDownloadManager.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/OfflineMapsViewModel.kt
Due: unittests

Use configChanges to prevent activity recreation on rotation
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
Due: unittests

fix(test): make sleep count assertion less strict in path request test
  python/test_wrapper_messaging.py
Due: none

fix: add orphan detection to recover MBTiles files after DB errors
  app/src/main/java/com/lxmf/messenger/viewmodel/OfflineMapDownloadViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/OfflineMapsViewModel.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/OfflineMapRegionDao.kt
  data/src/main/java/com/lxmf/messenger/data/repository/OfflineMapRegionRepository.kt
Due: unittests

fix: use Long arithmetic for tile coordinate bounds check
  app/src/main/java/com/lxmf/messenger/map/TileDownloadManager.kt
Due: unittests

fix: address 7 code review issues from Greptile
  app/src/main/java/com/lxmf/messenger/map/TileDownloadManager.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/OfflineMapDownloadViewModel.kt
  data/src/main/java/com/lxmf/messenger/data/repository/OfflineMapRegionRepository.kt
Due: unittests
