Repository slg407/robumba: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, python

.codecov.yml:

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

coverage:
  precision: 2
  round: down
  range: "70..100"
  status:
    patch:
      default:
        target: 70%

flags:
  unittests:
    paths:
      - "app/"
      - "core/"
    carryforward: true
  python:
    paths:
      - "python/"
    carryforward: true

ignore:
  - "external/**"
  - "python/test_*.py"

test: add unit tests for file save and hex decoding
  app/src/test/java/com/lxmf/messenger/ui/model/MessageMapperTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelTest.kt
Due: unittests

feat: add file save functionality for received attachments
  app/build.gradle.kts
  app/src/main/java/com/lxmf/messenger/ui/model/MessageMapper.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
Due: unittests

fix: simplify totalAttachmentSize tests to avoid coroutine issues
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelTest.kt
Due: unittests

test: add coverage tests for file attachments and FileUtils
  app/src/test/java/com/lxmf/messenger/util/FileUtilsRobolectricTest.kt
  python/test_wrapper_messaging.py
Due: unittests

ci: exclude service layer from patch coverage
  .codecov.yml
Due: none

ci: exclude Compose UI files with @Preview from coverage
  .codecov.yml
Due: none

feat: add ShareLocationBottomSheet UI and restore Network tab filters
  app/src/main/java/com/lxmf/messenger/ui/components/ContactSelectionRow.kt
  app/src/main/java/com/lxmf/messenger/ui/components/ShareLocationBottomSheet.kt
  app/src/main/java/com/lxmf/messenger/ui/model/SharingDuration.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/ContactsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MapScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MapViewModel.kt
  app/src/test/java/com/lxmf/messenger/ui/model/SharingDurationTest.kt
Due: unittests

feat: add location sharing UX improvements
  app/src/main/java/com/lxmf/messenger/service/LocationSharingManager.kt
  app/src/main/java/com/lxmf/messenger/ui/components/ContactLocationBottomSheet.kt
  app/src/main/java/com/lxmf/messenger/ui/components/SharingStatusChip.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/ContactsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MapScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/util/MarkerBitmapFactory.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MapViewModel.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MapViewModelTest.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/ContactDao.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/ReceivedLocationDao.kt
  data/src/main/java/com/lxmf/messenger/data/model/EnrichedContact.kt
Due: unittests

feat: add location sharing button to conversation TopAppBar
  app/src/main/java/com/lxmf/messenger/ui/components/QuickShareLocationBottomSheet.kt
  app/src/main/java/com/lxmf/messenger/ui/components/ShareLocationBottomSheet.kt
  app/src/main/java/com/lxmf/messenger/ui/model/LocationSharingState.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
Due: unittests

feat: add stop sharing confirmation dialog in conversation
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
Due: unittests

feat: implement configurable location precision with uncertainty circles
  app/src/main/java/com/lxmf/messenger/data/model/LocationTelemetry.kt
  app/src/main/java/com/lxmf/messenger/repository/SettingsRepository.kt
  app/src/main/java/com/lxmf/messenger/service/LocationSharingManager.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MapScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/SettingsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/LocationSharingCard.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MapViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/SettingsViewModel.kt
  data/src/main/java/com/lxmf/messenger/data/db/entity/ReceivedLocationEntity.kt
  data/src/main/java/com/lxmf/messenger/data/di/DatabaseModule.kt
Due: unittests

feat: adjust radius sizes for approximate location
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/LocationSharingCard.kt
Due: unittests

feat: custom map markers with colored initials and display names
  app/src/main/java/com/lxmf/messenger/ui/screens/MapScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/util/MarkerBitmapFactory.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MapViewModel.kt
Due: unittests

feat: add reply-to-message feature (WIP)
  app/src/main/aidl/com/lxmf/messenger/IReticulumService.aidl
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  app/src/main/java/com/lxmf/messenger/ui/components/ReplyComponents.kt
  app/src/main/java/com/lxmf/messenger/ui/model/MessageMapper.kt
  app/src/main/java/com/lxmf/messenger/ui/model/MessageUi.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
  app/src/test/java/com/lxmf/messenger/ui/components/ReplyComponentsTest.kt
  app/src/test/java/com/lxmf/messenger/ui/model/MessageMapperTest.kt
  app/src/test/java/com/lxmf/messenger/ui/screens/MessagingScreenTest.kt
  app/src/test/java/com/lxmf/messenger/util/ThemeColorGeneratorTest.kt
  data/src/main/java/com/lxmf/messenger/data/db/ColumbaDatabase.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/MessageDao.kt
  data/src/main/java/com/lxmf/messenger/data/db/entity/MessageEntity.kt
  data/src/main/java/com/lxmf/messenger/data/di/DatabaseModule.kt
  data/src/main/java/com/lxmf/messenger/data/repository/ConversationRepository.kt
  python/reticulum_wrapper.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/MockReticulumProtocol.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests, python

fix: resolve race condition in sync timestamp state updates
  app/src/main/java/com/lxmf/messenger/viewmodel/SettingsViewModel.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/SettingsViewModelTest.kt
Due: unittests

fix: correct RelayInfo constructor parameters in test
  app/src/test/java/com/lxmf/messenger/viewmodel/SettingsViewModelTest.kt
Due: unittests

chore: remove redundant tests - existing tests already cover flow collectors
  app/src/test/java/com/lxmf/messenger/viewmodel/SettingsViewModelTest.kt
Due: unittests

Updated regional LoRa config for Spain
  app/src/main/java/com/lxmf/messenger/data/model/RNodeRegionalPreset.kt
Due: unittests

refactor: move lock management to service lifecycle
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
Due: unittests

feat: add automatic service rebinding when Android kills the process
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
Due: unittests

feat: add service reinitialization callback for automatic recovery
  app/src/main/java/com/lxmf/messenger/ColumbaApplication.kt
Due: unittests

auto-claude: subtask-3-2 - Add sendReaction() method to MessagingViewModel
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/MessageDao.kt
  data/src/main/java/com/lxmf/messenger/data/repository/ConversationRepository.kt
Due: unittests

auto-claude: subtask-4-3 - Add Python tests for reaction send/receive
  python/test_wrapper_reactions.py
Due: none

auto-claude: subtask-7-2 - Run all unit tests and ensure no regressions
  .auto-claude/specs/001-add-emoji-reactions-to-columba-messages/build-progress.txt
  .auto-claude/specs/001-add-emoji-reactions-to-columba-messages/implementation_plan.json
Due: none

fix: use IMPORTANCE_LOW for foreground service notification channel
  app/src/main/java/com/lxmf/messenger/service/manager/ServiceNotificationManager.kt
Due: unittests

feat: Add Signal-style reaction overlay with message snapshot
  .auto-claude/specs/001-add-emoji-reactions-to-columba-messages/implementation_plan.json
  app/src/main/java/com/lxmf/messenger/ui/components/ReactionComponents.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
Due: unittests

feat: Add Signal-style press feedback animation to message bubbles
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
Due: unittests

fix: remove undefined announce_app_data attribute in shutdown
  python/reticulum_wrapper.py
Due: python

test: add unit tests for shutdown network status checks
  app/src/test/java/com/lxmf/messenger/service/PropagationNodeManagerTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/AnnounceStreamViewModelTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/DebugViewModelEventDrivenTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/SettingsViewModelTest.kt
Due: unittests

test: add comprehensive unit tests for profile icon feature
  app/src/main/java/com/lxmf/messenger/ui/components/ProfileIcon.kt
  app/src/main/java/com/lxmf/messenger/ui/theme/MaterialDesignIcons.kt
  app/src/test/java/com/lxmf/messenger/ui/components/ColorPickerDialogTest.kt
  app/src/test/java/com/lxmf/messenger/ui/components/ProfileIconTest.kt
  app/src/test/java/com/lxmf/messenger/ui/theme/MaterialDesignIconsTest.kt
Due: unittests

refactor: make ProfileIconCard internal for testability
  app/src/main/java/com/lxmf/messenger/ui/screens/MyIdentityScreen.kt
  app/src/test/java/com/lxmf/messenger/ui/screens/MyIdentityScreenProfileIconTest.kt
Due: unittests

fix(ble): show RSSI and full identity hash in connection status UI
  app/src/main/java/com/lxmf/messenger/ui/screens/BleConnectionStatusScreen.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/ble/bridge/KotlinBLEBridge.kt
Due: unittests

fix(test): update BleConnectionStatusScreenTest to expect full identity hash
  app/src/test/java/com/lxmf/messenger/ui/screens/BleConnectionStatusScreenTest.kt
Due: unittests

feat: long-press destination hash to copy on node details screen
  app/src/main/java/com/lxmf/messenger/ui/screens/AnnounceDetailScreen.kt
Due: unittests

feat: add GIF/sticker support from keyboard and clipboard paste
  app/build.gradle.kts
  app/src/main/java/com/lxmf/messenger/ui/model/ImageCache.kt
  app/src/main/java/com/lxmf/messenger/ui/model/MessageMapper.kt
  app/src/main/java/com/lxmf/messenger/ui/model/MessageUi.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
  app/src/main/java/com/lxmf/messenger/util/AnimatedImageLoader.kt
  app/src/main/java/com/lxmf/messenger/util/ImageUtils.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
  app/src/test/java/com/lxmf/messenger/ui/model/MessageMapperTest.kt
  app/src/test/java/com/lxmf/messenger/ui/model/MessageUiTest.kt
  app/src/test/java/com/lxmf/messenger/util/AnimatedImageLoaderTest.kt
  app/src/test/java/com/lxmf/messenger/util/ImageUtilsGifTest.kt
  gradle/libs.versions.toml
Due: unittests

test: add 13 more MessagingScreen tests for improved coverage
  app/src/test/java/com/lxmf/messenger/ui/screens/MessagingScreenTest.kt
Due: unittests

Fix formatting in SECURITY.md for clarity
  SECURITY.md
Due: none

test: add comprehensive tests for incoming message size limit feature
  app/src/test/java/com/lxmf/messenger/repository/SettingsRepositoryTest.kt
  app/src/test/java/com/lxmf/messenger/util/FileUtilsTempAttachmentTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/SettingsViewModelIncomingMessageLimitTest.kt
  python/test_wrapper_message_size_limit.py
Due: unittests

fix: set FIELD_IMAGE constant in mock to fix test
  python/test_wrapper_messaging.py
Due: none

feat: use per-file extraction for file attachments in sent and received messages
  app/src/main/java/com/lxmf/messenger/service/manager/EventHandler.kt
  app/src/main/java/com/lxmf/messenger/service/persistence/ServicePersistenceManager.kt
  app/src/main/java/com/lxmf/messenger/ui/model/MessageMapper.kt
  data/src/main/java/com/lxmf/messenger/data/repository/ConversationRepository.kt
Due: unittests
