Repository slg407/robumba: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, python

docs(ble): expand advertising refresh diagram with failure handling
  docs/ble-architecture.md
Due: none

Add unit tests for USB RNode support
  python/test_rnode_interface.py
  python/test_usb_bridge.py
  reticulum/src/test/java/com/lxmf/messenger/reticulum/usb/KotlinUSBBridgeTest.kt
Due: none

feat: add RSSI and SNR signal metrics to messages
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/service/manager/EventHandler.kt
  app/src/main/java/com/lxmf/messenger/service/persistence/ServicePersistenceManager.kt
  app/src/main/java/com/lxmf/messenger/ui/model/MessageMapper.kt
  app/src/main/java/com/lxmf/messenger/ui/model/MessageUi.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MessageDetailScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/util/SignalQualityInfo.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MessageDetailViewModel.kt
  app/src/test/java/com/lxmf/messenger/ui/util/SignalQualityInfoTest.kt
  data/src/main/java/com/lxmf/messenger/data/db/ColumbaDatabase.kt
  data/src/main/java/com/lxmf/messenger/data/db/entity/MessageEntity.kt
  data/src/main/java/com/lxmf/messenger/data/di/DatabaseModule.kt
  data/src/main/java/com/lxmf/messenger/data/repository/ConversationRepository.kt
  data/src/test/java/com/lxmf/messenger/data/db/migration/Migration30To31Test.kt
  python/reticulum_wrapper.py
  python/signal_quality.py
  python/test_signal_quality.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests, python

perf: remove 0.5s USB stabilization delay on RNode connect
  python/rnode_interface.py
Due: python

fix: prevent NavHost reset on cold start with USB intent
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/InterfaceStatsScreen.kt
Due: unittests

feat: show connecting spinner on USB replug without screen flash
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/util/InterfaceReconnectSignal.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/InterfaceStatsViewModel.kt
Due: unittests

feat: add settings icon to Network Interfaces card for quick access
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/IdentityScreen.kt
Due: unittests

fix: pre-select correct connection type when editing RNode config
  app/src/main/java/com/lxmf/messenger/viewmodel/RNodeWizardViewModel.kt
Due: unittests

fix: auto-generate Bluetooth RNode interface names from device name
  app/src/main/java/com/lxmf/messenger/viewmodel/RNodeWizardViewModel.kt
  python/reticulum_wrapper.py
  python/usb_bridge.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/usb/KotlinUSBBridge.kt
Due: unittests, python

chore: remove unused CMD_DEV_HASH constant
  python/rnode_interface.py
Due: python

fix: resolve test compilation issues and Python build config
  app/build.gradle.kts
  app/src/test/java/com/lxmf/messenger/viewmodel/RNodeWizardViewModelTest.kt
Due: unittests

Simplify auto-confirm to use onValueChange callback
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/TelemetryCollectorCard.kt
Due: unittests

Fix critical issues from Greptile review round 2
  app/src/main/java/com/lxmf/messenger/ColumbaApplication.kt
  app/src/main/java/com/lxmf/messenger/service/TelemetryCollectorManager.kt
  app/src/test/java/com/lxmf/messenger/service/TelemetryCollectorManagerTest.kt
Due: unittests

Bump database to v32 with idempotent migration
  data/src/main/java/com/lxmf/messenger/data/db/ColumbaDatabase.kt
  data/src/main/java/com/lxmf/messenger/data/di/DatabaseModule.kt
Due: none

fix: address code review feedback for USB bridge
  python/rnode_interface.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/usb/KotlinUSBBridge.kt
Due: python

fix: abort USB start if old read thread won't stop
  python/rnode_interface.py
Due: python

Add telemetry collector (host mode) for Group Tracker
  app/src/main/aidl/com/lxmf/messenger/IReticulumService.aidl
  app/src/main/java/com/lxmf/messenger/repository/SettingsRepository.kt
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/service/TelemetryCollectorManager.kt
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/SettingsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/LocationSharingCard.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/SettingsViewModel.kt
  app/src/test/java/com/lxmf/messenger/ui/screens/settings/cards/LocationSharingCardTest.kt
  python/reticulum_wrapper.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/MockReticulumProtocol.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests, python

Add allowed telemetry requesters feature for host mode
  CLAUDE.md
  app/src/main/aidl/com/lxmf/messenger/IReticulumService.aidl
  app/src/main/java/com/lxmf/messenger/repository/SettingsRepository.kt
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/service/TelemetryCollectorManager.kt
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/SettingsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/LocationSharingCard.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/SettingsViewModel.kt
  app/src/test/java/com/lxmf/messenger/ui/screens/settings/cards/LocationSharingCardTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/SettingsViewModelIncomingMessageLimitTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/SettingsViewModelTest.kt
  python/reticulum_wrapper.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/MockReticulumProtocol.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests, python

Fix map markers and location disappearing on tab switch
  app/src/main/java/com/lxmf/messenger/ui/screens/MapScreen.kt
Due: unittests

Add contact picker for selecting group host in telemetry settings
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/LocationSharingCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/TelemetryCollectorCard.kt
Due: unittests

Remove unused TelemetryCollectorCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/TelemetryCollectorCard.kt
Due: unittests

feat: add LoRa params copy and use from discovered interfaces
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MapScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/rnode/RNodeWizardScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/RNodeWizardViewModel.kt
Due: unittests

feat: add discovery toggle and fix discovered interfaces display
  app/src/main/java/com/lxmf/messenger/ColumbaApplication.kt
  app/src/main/java/com/lxmf/messenger/repository/InterfaceRepository.kt
  app/src/main/java/com/lxmf/messenger/repository/SettingsRepository.kt
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/service/InterfaceConfigManager.kt
  app/src/main/java/com/lxmf/messenger/startup/StartupConfigLoader.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/DiscoveredInterfacesViewModel.kt
  python/reticulum_wrapper.py
Due: unittests, python

test: Add SavedPeersViewModel tests and ReceivingInterfaceInfo edge cases
  app/src/test/java/com/lxmf/messenger/ui/util/ReceivingInterfaceInfoTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/SavedPeersViewModelTest.kt
Due: unittests

Squashed 'python/' content from commit 5a3cb5f9
  .dockerignore
  .gitignore
  Dockerfile
  LICENSE
  README.md
  config
  docker-compose.yaml
  rBrowser.py
  rbrowser/__init__.py
  rbrowser/cache.py
  rbrowser/nomadnet.py
  rbrowser/routes.py
  rbrowser/web_browser.py
  requirements.txt
  script/micron-parser.js
  script/micron-parser_original.js
  script/purify.min.js
  script/purify.min.js.map
  settings/cache_settings.json
  templates/favicon.svg
  templates/fingerprint.png
  templates/go.png
  templates/index.html
  templates/info.png
  templates/ping.png
  templates/search.png
  templates/star.png
  templates/style.css
  templates/test_micron.html
Due: none

fix: add non-null assertions for lat/lon in FocusInterfaceDetails
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
Due: unittests

test: add comprehensive tests for DiscoveredInterfacesScreen
  app/src/test/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreenTest.kt
Due: unittests

fix: Store peer icons in dedicated table to fix icon persistence
  app/src/main/java/com/lxmf/messenger/service/manager/EventHandler.kt
  app/src/main/java/com/lxmf/messenger/service/persistence/ServicePersistenceManager.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MapViewModel.kt
  app/src/test/java/com/lxmf/messenger/service/persistence/ServicePersistenceManagerTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MapViewModelTest.kt
  data/src/main/java/com/lxmf/messenger/data/db/ColumbaDatabase.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/AnnounceDao.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/ContactDao.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/ConversationDao.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/PeerIconDao.kt
  data/src/main/java/com/lxmf/messenger/data/db/entity/AnnounceEntity.kt
  data/src/main/java/com/lxmf/messenger/data/db/entity/PeerIconEntity.kt
  data/src/main/java/com/lxmf/messenger/data/di/DatabaseModule.kt
  data/src/main/java/com/lxmf/messenger/data/model/EnrichedAnnounce.kt
  data/src/main/java/com/lxmf/messenger/data/repository/AnnounceRepository.kt
Due: unittests

Update README.md with funny image
  README.md
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  unittests: any of: app/, core/, but not: external/**, python/test_*.py
  python: any of: python/, but not: external/**, python/test_*.py
